.special__offer {
  position: relative;
  height: 30rem;
  background: linear-gradient(to top,
      rgb(17, 117, 231, 0.5),
      rgba(136, 0, 133, 0.6)),
    url("./images/HI513377870.jpg") top/cover no-repeat fixed;
}

.special__offer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.offer__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: center;
}

.offer__container h1 {
  letter-spacing: 1.5px;
  font-size: 6rem;
}

.offer__container p {
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.offer__container a {
  display: inline-block;
  padding: 1rem 3rem;
  color: var(--grey-color);
  font-weight: 800;
  background-color: var(--default-color);
}

@media only screen and (max-width: 996px) {
  .special__offer {
    height: 35rem;
  }

  .offer__container h1 {
    font-size: 5rem;
  }

  .offer__container p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .special__offer {
    height: 30rem;
  }

  .offer__container h1 {
    font-size: 4rem;
  }

  .offer__container p {
    font-size: 1.5rem;
  }

  .offer__container a {
    padding: 0.8rem 2.7rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 567px) {
  .special__offer {
    height: 25rem;
  }

  .offer__container h1 {
    font-size: 2.5rem;
  }

  .offer__container p {
    font-size: 1.3rem;
  }

  .offer__container a {
    padding: 0.5rem 2.3rem;
  }
}